<template>
    <h1>This is a members page that will be protected</h1>
</template>

<script>
export default {
    name: 'members',
    mounted() {
        if(localStorage.access_token) {
            this.access_token = localStorage.access_token
            console.log(this.access_token)
        }
    }
}
</script>

